body {
    background-color: #F0F1F4;
}

.login {
    font-weight: 500;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.main-login {
    border-radius: 5px;
    width: 600px;
    background-color: #fff;
    /*border: 1px solid black;*/
}

.tab-box__header {
    height: 80px;
}


.tab-box__login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    color: black;
}

.tab-box__content {
    padding: 30px;
}

.btn-login {
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    background-color: #083239;
}

.btn-login:hover {
    background-color: #5F395A;
}

@media only screen and (max-width: 600px) {
    .main-login {
        width: 380px;
    }
}