/*Nơi css thành phần riêng*/
/*Tính chất display: block giúp đặt được chiều ngang dọc(width, height) trong CSS
Những thẻ tính chất block kế thừa lại chiều ngang của thẻ chứa nó
thẻ html k kế thùa từ thẻ nào, nên sẽ kế thừa lại chiều ngang của trình duyệt
*/
.header {
    height: var(--header-height);
    /*Chuyển màu từ trên xuống dưới, bắt đầu ở góc 0 độ*/
    background-image: linear-gradient(0, #fe6433, #f53e2d);

}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    /*Thẻ ul mặc định có giá trị padding-left: 40px
    margin-top:10px
    margin-bottom:10px
    cần sửa lại
    */
    padding-left: 0;
    /*Bỏ dấu tròn trước các thẻ li*/
    list-style: none;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item {
    /*Cho các item tách nhau ra*/
    margin: 0 8px;
    /*Thêm thuộc tính relative để sudo element after chỉnh vị trí dấu gạch*/
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-menu {
    position: absolute;
    padding-left: 0;
    top: calc(100% + 4px);
    right: 0;
    background: var(--white-color);
    border-radius: 2px;
    width: 160px;
    list-style: none;
    z-index: 1;
    box-shadow: 0 1px 2px red;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    /*Nếu tạo thành tam giác cân thì để 1 chiều 20px
    20px là độ dài của 1 cạnh hình vuông
    */
    /*border: 20px solid;*/
    /*Để tam giác trở nên nhọn hơn:*/
    border-width: 20px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -29px;
}

.header__navbar-user-menu:after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 60%;
    height: 8px;
}

.header__navbar-user-item {

}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.header__navbar-user-item:hover {
    background: red;
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 8px 16px;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

/*header QR code*/
.header__navbar-item--has-qr:hover .header__qr {
    /*Những thuộc tính css viết trong này sẽ được áp dụng
    vào header__qr trong trường hợp
    header__navbar-item--has-qr được hover,
    .header__qr là class con của thẻ header__navbar-item--has-qr
    */
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

/*CSS cho thẻ li*/
.header__navbar-item,
.header__navbar-item-link {
    /*Cho các thẻ li nằm trên cùng 1 hàng*/
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    /*Bỏ gạch chân dưới chữ*/
    text-decoration: none;
    /*cho độ dày chữ mỏng đi*/
    font-weight: 300;
}

/*Căn giữa icon với chữ Kết nối*/
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

/*Sửa lại các link trên header khi được hover*/
.header__navbar-icon-link:hover,
.header__navbar-item:hover,
.header__navbar-item-link:hover {
    color: rgba(255, 255, 255, 0.7);
    /*Sửa lai con trỏ chuột thành hình bàn tay*/
    cursor: pointer;
}

.header__navbar-item--strong {
    font-weight: 400;
}

/*Thêm sudo element để tạo ra dấu gạch*/
.header__navbar-item--separate::after {
    position: absolute;
    content: "";
    display: block;
    /*Có thể dùng width height để tạo ra dấu gạch*/
    /*width: 1px;*/
    height: 14px;
    /*background-color: #FB9086;*/
    border-left: 1px solid #FB9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

/*CSS cho thẻ con thứ 2*/
.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.header__navbar-tile--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/*Header QR*/

.header__qr {
    position: absolute;
    left: 0;
    /*cách 100% so với thẻ chứa(ở đây là chiều cao của thẻ li)*/
    top: 100%;
    width: 186px;
    background: var(--white-color);
    padding: 8px;
    border-radius: 2px;
    display: none;
    /*fadeIn là tên animation,
     ease-in là kiểu hiện lên
    0.3s là thời gian thực thi animation
    */
    animation: fadeIn ease-in 0.3s;
}

/*Tạo thành cầu nối giữa header__qr và
 thẻ header__navbar-item--has-qr khi chuột đưa ra quá thẻ li */
.header__qr::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 18%;
    left: 0;
    display: block;

}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

/*Chọn phần tử đầu tiên: cách 1*/
/*.header__qr-link:first-child {*/

/*}*/
/*Cách 2:*/
.header__qr-link:nth-child(1) {
    /*Nên hạn chế fix cứng cho 2 thẻ như này
    code sẽ bị cứng nhắc, nếu sau này có 3-4 items thì phải sửa lại
    */
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-left: 11px;
}

.header__qr-downloading-img {
    height: 15px;
}

/*Header Notification*/
.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border-radius: 2px;
    background: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.3);
    cursor: default;
    /*Thu phóng bắt đầu từ bên trên phía bên phải*/
    transform-origin: calc(100% - 32px) top;
    /*Thu phóng này đang bắt đầu từ tâm của thẻ hiện ra,
     cần phải đổi lại cho bắt đầu transform từ góc phải, 90 độ*/
    animation: headerNotifyGrowth ease-in 0.3s;
    /*Trình duyệt web sẽ tối ưu chuyển động
     keyframes cho 2 cái opacity, transform*/
    will-change: opacity, transform;
    display: none;
    z-index: 1;
}

/*Tạo tam giác hiển thị hội thoại bên dưới thông báo*/
.header__notify::before {
    content: "";
    /*Nếu tạo thành tam giác cân thì để 1 chiều 20px
    20px là độ dài của 1 cạnh hình vuông
    */
    /*border: 20px solid;*/
    /*Để tam giác trở nên nhọn hơn:*/
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -30px
}

/*Tạo cầu nối để người dùng
 khi đưa chuột xuống dưới nút thông báo k bị mất
 nội dung của notify
 */
.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;
    /*background: red;*/
}

@keyframes headerNotifyGrowth {
    /*Cho bảng thông báo transform(phóng lớn lên)*/
    from {
        /*transform độ lớn lên bắt đầu từ 0*/
        transform: scale(0);
    }
    to {
        /*transform trở về kích thước ban đầu*/
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background: var(--white-color);

}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    /*Ngăn k cho người dùng copy text*/
    user-select: none;
    /*-webkit là prefix dành cho các trình duyệt chrome,
    edge, cốc cốc, để trình duyệt dùng được
    */
    -webkit-user-select: none;
    /*moz là của mozilla*/
    -moz-user-select: none;
    /*-ms là của internet explore*/
    -ms-user-select: none;
}

.header__notify-list {
    padding-left: 0;
    background: var(--white-color);
}

.header__notify-item {
    display: flex;
}

.header__notify-item:hover {
    background-color: #f1f1f1f1;
}

/*Đổi màu hiển thị những item chưa xem*/
.header__notify-item--viewed {
    background: rgba(238, 75, 43, 0.4);
}

.header__notify-link {
    padding: 12px;
    width: 100%;
    display: flex;
    text-decoration: none;


}

.header__notify-img {
    width: 48px;
    /*để ảnh k bị méo*/
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    /**/
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 1.8rem;
    font-weight: 400;
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 8px 0px;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
}

/*AUTHEN modal*/
.auth-form {
    overflow: hidden;
    border-radius: 4px;
    width: 500px;
    background: var(--white-color);
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: red;
    font-weight: 500;
    cursor: pointer;
}

.auth-form__form {
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    /*Tắt outline của input*/
    outline: none;
}

/*đổi màu viền khi bấm vào nút input*/
.auth-form__input:focus {
    border-color: #777;
}

.auth-form__asign {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 20px;
}

.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls {
    margin-top: 80px;
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background: #9a6565;
    margin-top: 32px;
    padding: 14px 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.auth-form__socials-tile {
    margin: 0 24px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}

.auth-form__socials--facebook {
    background: dodgerblue;
    color: var(--white-color);
}

.auth-form__socials--google {
    background: #c21b1b;
}

.auth-form__socials--google.auth-form__socials--facebook {
    color: var(--white-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.6rem;
    text-decoration: none;
}

.auth-form__help-separate {
    display: block;
    height: 22px;
    margin: 1px 16px 0;
    border-left: 1px solid #EAEAEA;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    /*Cho logo ngang với div bên trên*/
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__log-link {
    color: transparent;
    text-decoration: none;
}

.header__logo-img {
    width: 150px;
    color: var(--white-color);
}

.header__search {
    height: 40px;
    background: var(--white-color);
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    /*Tăng kích thước vùng đưa chuột*/
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 6px;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 4px);
    min-height: 20px;
    right: 1px;
    background: var(--white-color);
    width: 400px;
    border-radius: 2px;
    /*13px là độ rộng của box shadow*/
    box-shadow: 0 2px 10px 13px rgba(133, 116, 116, 0.8);
    display: none;
    animation: fadeIn ease-in 0.3s;
    cursor: default;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    color: #999999;
    font-weight: 400;
}

.header__cart-list-item {
    /*mặc định thẻ ul có padding-left: 40
    Cần bỏ đi
    */
    padding-left: 0;
    list-style: none;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background: #f8f8f8;
}

.header__cart-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;

}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    /*bỏ margin mặc định của thẻ h*/
    margin: 0;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-quantity {
    font-size: 1.2rem;
    color: #757575;
}


.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.header__cart-item-description {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background: #f05d41;
}

.header__cart-item-remove {
}

/*Tạo hình mũi tên*/
.header__cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 3px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__card-list--no-cart {
    text-align: center;
    padding: 28px 0;
}

.header__cart-list--no-cart > .header__cart-no-cart-img,
.header__cart-list--no-cart > .header__cart-list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-no-cart-img {
    width: 54%;
    display: none;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header__cart-notice {
    position: absolute;
    right: -4px;
    top: -4px;
    padding: 1px 7px;
    background: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #EE4D2D;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select {
    border-left: 1px solid black;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: black;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
}

.header__search-btn:hover {
    background: red;
    cursor: pointer;
}

.header__search-btn-icon {
    font-size: 1.2rem;
    color: var(--white-color);

}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    right: 0;
    /*cách top = kích thước của thẻ chứa*/
    top: calc(100% - 1px);
    width: 130px;
    list-style: none;
    /*giá trị đầu tiên là obset hướng bóng đổ theo chiều X,
    nếu âm thì sẽ chạy lên, dương chạy xuống
     */
    /*giá trị thứ 2 là obset hướng bóng đổ theo chiều y
    âm thì chạy sang trái, dương chạy sang phải
    */
    /*giá trị thứ 3 là blur(độ mờ)*/
    box-shadow: 0 1px 2px red;
    padding-left: 0;
    display: none;
    animation: fadeIn ease-in 0.2s;

}

/*Tạo cầu nối   */
.header__search-option:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    /*background: red;*/
    top: -10px;
    left: 0;
}

.header__search-option-item {
    background: var(--white-color);
    border-radius: 2px;
    padding: 8px 8px;
}

/*Chỉ tạo viền của thẻ li đầu tiên và cuối cùng*/
.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;

}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

/*Click vào thì đổi thuộc tính .header__Search-history*/
.header__search-input:focus ~ .header__search-history {
    display: block;
}

/*Search  History*/
.header__search-history {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(182, 182, 182);
    display: none;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;

}

.header__search-history-list {
    /*Bỏ padding mặc định của ul*/
    padding-left: 0;
    list-style: none;
    margin: 6px 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

}

.header__search-history-item:hover {
    background: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    /*Tự động kế thừa chiều ngang của thẻ chứa nó*/
    display: block;
}

/*App container*/
.app__container {
    background: #888888;
}

.app_content {
    padding-top: 36px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;

}

.category__heading {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 0;
}

.category_heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 9px;
}

.category-item {

}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link:before {
    content: "";
    position: absolute;
    /*50% của thẻ chứa nó*/
    top: 50%;
    /*Dịch lên 50% của chính nó*/
    transform: translateY(calc(-50% - 2px));
    left: 4px;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
    position: relative;
    font-size: 1.6rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 16px;
    right: 0;
    /*Thuộc tính transition vào chính đối tượng muốn tạo sự thay đổi khi hover
    Khai báo khi chuyển động thì sẽ chuyển động sẽ như thế nào,
     sẽ k chuyển động ngay.
    Chỉ chuyển động khi có sự thay đổi:hover
    Chiều chạy: right,
    kiểu chạy linear
    thời gian chạy: 0.1s
    */
    transition: right linear 0.1s;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

/*Home sort + filter*/

.home-filter {
    background: rgba(0, 0, 0, 0.04);
    padding: 12px 22px;
    display: flex;
    align-items: center;
    border-radius: 2px;

}

.home-filter__label {
    font-size: 1.4rem;
    /*mã màu có 6 số giống nhau có thể để bằng 3 chữ cũng có hiệu quả tương tự*/
    color: #555;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    text-decoration: none;
    flex: 1;
    display: flex;
    background: var(--white-color);
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #EEEE;
}

.home-filter__page-btn--disabled {
    cursor: default;
    background: #f9f9f9;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #cccccc;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/*Product item*/
.home-product-item {
    background: var(--white-color);
    margin-top: 10px;
}

.home-product-item__img {
    /*Nếu muốn xét ảnh vuông (chiều cao bằng chiều ngang)
    chiều cao của ảnh lại bằng chiều ngang của thẻ chứa nó
    */
    /*con số 100% là chiều ngang của thẻ chứa nó*/
    padding-top: 100%;
    background-repeat: no-repeat;
    /*Kích thước ảnh sẽ co lại tránh ảnh quá lớn*/
    background-size: contain;
    /*để focus vào trọng tâm của bức ảnh*/
    background-position: center;
    /*    So sánh img vs background-image*/

    /*    so sánh thẻ img và background-img
    Nếu cho
    */
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    /*Xử lý ... hiển thị 2 dòng*/
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    /*padding: 0 10px;*/
    /*Mặc định các thẻ h có khoảng margin nhất định*/
    margin: 10px 10px 6px;
    display: block;
    /*Nếu trình duyệt k hỗ trợ chạy -webkit-box thì sẽ chạy display:block*/
    display: -webkit-box;
    /*Hướng của dòng chữ theo chiều nào,
    ở đây có 2 dòng thì là chiều dọc(chạy từ trên xuống dưới)
    */
    -webkit-box-orient: vertical;
    /*giới hạn số dòng, nếu đặt là số 1 thì dấu ... sẽ hiển thị ở dòng 1*/
    -webkit-line-clamp: 2;
    /*css hiển thị ... với 1 dòng*/
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    /*Nếu giá quá to thì sẽ xuống dòng*/
    flex-wrap: wrap;
}

.home-product-item__price-old {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666666;
    /*Gạch ngang chữ*/
    text-decoration: line-through;
}

.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}

.home-product-item__like {
    font-size: 1.4rem;
}

/*Vì mặc định trong fontawesome có thuộc tính inline-block có độ ưu tiên cao
Cần thêm thẻ i vào selector để ghi đè
*/
i.home-product-item__like-icon-fill {
    color: var(--primary-color);
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 1rem;
    /*Phóng to thu nhỏ*/
    /*zoom: 0.8;*/
    transform: scale(0.8);
    /*Thu nhỏ và dính sát lề phải*/
    transform-origin: right;
    color: #cccccc;
}

.home-product-item__origin {

}

.home-product-item__brand {

}

.home-product-item__origin-name {

}

.home-product-item__favourite {

}

.home-product-item__sale-off {

}

.home-product-item__sale-off-percent {

}

.home-product-item__sale-off-label {

}